@import 'core/variables';

body {
	margin: 0;
	color: $color-black;
	font-family: $font-main;
	background: $color-white; 
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

//search
.search-box {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media all and (min-width: 768px) {
		padding-left: 40px;
		align-self: flex-start;
		flex-direction: row;
	}
}

.label {
	width: 50%;
	flex-grow: 1;
	margin: auto;
	padding-bottom: 10px;

}

.input {
	width: 50%;
	margin: auto;
}

.btn {
	background: $color-purple;
	color: $color-white;
	border: $color-purple;
	border-radius: 10%;
	height: 30px;
	width: 60px;
	font-family: $font-main;
	font-weight: bold;
	margin: 10px;
}

//results
.results-box {
	display: flex;
}

.favorites {
	width: 30vw;
	list-style: none;
}

.fave {
	display: flex;
	background: $color-lightpink;
	margin: 5px;
	font-size: 12px;
}

.fave-image {
	height: 100px;
	padding: 5px;
}

.fave-title {
	align-self: center;
	margin: 0;
}

.results {
	width: 60vw;
	display: flex;
	flex-wrap: wrap;
}
.results-card {
	margin: 5px;
	color: $color-lightpink;
	background: $color-purple;
	list-style: none;	
	width: 45%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.results-title {
	margin: 10px 0;
	font-size: 16px;
}

.results-image {
	max-width: 250px;
	margin: 10px 0 0 0;
}
.favorite {
	color: $color-purple;
	background: $color-lightpink;
}