@import 'core/variables';

body {
	margin: 0;
	color: $color-black;
	font-family: Arial, Helvetica, sans-serif;
	background: $color-white; 
}

.favorite {
	color: $color-purple;
	background: $color-lightpink;
}