<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>MME - m2 - evaluación final</title>
  <link rel="icon" href="favicon.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>
<body>
  <main class="page">
    <h1 class="title">Buscador de series</h1>
  
    <div class="search-box">
      <label for="search" class="label">Buscar un serie aquí:</label>
      <input type="text" id="search" class="input">
  
      <span class="button-box"><button class="btn">Buscar</button></span>
    </div>

    <h2 class="favorites-heading">Mis favoritos</h2>
    <div class="results-box">
      <ul class="favorites"></ul>
  
      <ul class="results"></ul>
    </div>

  </main>
  <script src="assets/js/main.js"></script>
</body>
</html>
